services:
  db:
    image: postgres:17
    ports:
      - "5433:5432"
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    volumes:
      - app-db-data:/var/lib/postgresql/data/pgdata
    env_file:
      - backend/.env
    environment:
      - PGDATA=/var/lib/postgresql/data/pgdata
      - POSTGRES_PASSWORD=${DB__PASSWORD?Variable not set}
      - POSTGRES_USER=${DB__USER?Variable not set}
      - POSTGRES_DB=${DB__DATABASE?Variable not set}
  redis:
    image: redis:7
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 5s
      retries: 3
    volumes:
      - redis-data:/data

  mailpit:
    image: axllent/mailpit
    container_name: gameannouncer_mailpit
    restart: always
    ports:
      - "8025:8025"
      - "1025:1025"
    environment:
      MP_MAX_MESSAGES: 5000
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: gameannouncer_backend
    ports:
      - "3000:3000"
    volumes:
      - /backend/.venv
      - ./backend:/backend
    env_file:
      - ./backend/.env
    environment:
      - DATABASE_URL=postgresql+asyncpg://${DB__USER}:${DB__PASSWORD}@db:5432/${DB__DATABASE}
      - ENVIRONMENT=development
    depends_on:
      db:
        condition: service_healthy
    stdin_open: true
    tty: true

  worker:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: gameannouncer_worker
    command: taskiq worker tasks.broker:broker --fs-discover
    volumes:
      - /backend/.venv
      - ./backend:/backend
    env_file:
      - ./backend/.env
    environment:
      - DATABASE_URL=postgresql+asyncpg://${DB__USER}:${DB__PASSWORD}@db:5432/${DB__DATABASE}
      - ENVIRONMENT=development
    depends_on:
      - redis
      - mailpit
    stdin_open: true
    tty: true

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: gameannouncer_frontend
    ports:
      - "4200:4200"
    volumes:
      - ./frontend:/frontend
      - /frontend/node_modules
    environment:
      - ENVIRONMENT=development
    stdin_open: true
    tty: true


volumes:
  app-db-data:
  redis-data:
