<span class="text-3xl inline-block mb-8" matBadgeOverlap="false" [matBadge]="total">
  {{ 'pageTitles.games' | translate }}
</span>

<app-chips class="mb-8" [chipList]="chipList" (selected)="addGameFilters($event)" />

@if (hasNoData) {
  <div>{{ 'texts.haveNoData' | translate }}</div>
}

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 relative">
  @for (game of gameList; track game.id) {
    <app-game-card [gameActionList]="getGameActionList(game)" [game]="game"></app-game-card>
  }

  @if (isInitializeLoading) {
    <div class="flex items-center justify-center h-100 w-full absolute top-0">
      <mat-spinner class="m-auto"></mat-spinner>
    </div>
  }
</div>

<div elementObserver (elementReached)="paginate()"></div>

@if (isPaginating) {
  <mat-spinner class="mx-auto mt-6" diameter="60"></mat-spinner>
}

<app-fab-button
  icon="add"
  [tooltip]="'actions.addGame' | translate"
  (click)="openCreateDialog()"
  class="fixed bottom-10 right-10"
></app-fab-button>
