<p class="mat-headline-4">{{ 'pageTitles.games' | translate }}</p>

<app-chips class="mb-8" [chipList]="chipList" (selected)="addGameFilters($event)" />

@if (hasNoData) {
  <div>{{ 'texts.haveNoData' | translate }}</div>
}

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 relative">
  @for (game of list$ | async; track game.id) {
    <game-card [game]="game"></game-card>
  }
  @if (isInitializeLoading) {
    <div class="flex items-center justify-center h-100 w-full absolute top-0">
      <mat-spinner class="m-auto"></mat-spinner>
    </div>
  }
</div>

<div elementObserver (elementReached)="paginate()"></div>

@if (isPaginating) {
  <mat-spinner class="mx-auto mt-6" diameter="60"></mat-spinner>
}
