<div
  class="w-full h-40 rounded-3xl relative"
  [class]="
    game()?.image_url
      ? 'bg-cover'
      : 'flex items-center justify-center bg-[var(--mat-sys-surface-container)]'
  "
  [style.background-image]="getBackgroundImageProperty"
>
  @if (game()?.announcements_count !== undefined) {
    <div
      class="px-3 py-1 w-fit absolute top-2 left-2 rounded-3xl mat-subtitle-2 bg-[var(--mat-sys-surface-container-highest)]"
    >
      {{ 'entities.announcement' | translate: { count: game()?.announcements_count } }}
    </div>
  }
</div>

@if (gameActionList().length) {
  <app-menu
    class="absolute top-2 right-2"
    icon="more_horiz"
    [optionList]="gameActionList()"
  ></app-menu>
}

<div class="p-3 overflow-hidden flex flex-col flex-1">
  <p class="mat-headline-6 line-clamp-1">{{ game()?.name }}</p>

  @if (game()?.description) {
    <p class="mat-body-2 line-clamp-4 hyphens-auto">{{ game()?.description }}</p>
  }

  <app-button
    class="mt-auto"
    appearance="filled"
    [disabled]="!game()?.announcements_count"
    [fullWidth]="true"
  >
    {{ 'texts.allTournaments' | translate }}
  </app-button>
</div>
