<div
  class="relative bg-[url('@shared/assets/images/header.png')] bg-no-repeat bg-cover w-full pt-[calc(100%/(1136/456))]"
>
  <span
    class="absolute left-4 lg:left-7 top-4 lg:top-7 sm:w-65 w-50 md:w-80 lg:w-95 xl:w-110 text-xs md:text-base lg:text-1xl xl:text-2xl"
  >
    {{ 'texts.introduction' | translate }}
  </span>
</div>

<span class="text-3xl inline-block mb-8" matBadgeOverlap="false" [matBadge]="total">
  {{ 'pageTitles.announcements' | translate }}
</span>

@if (hasNoData) {
  <div>{{ 'texts.haveNoData' | translate }}</div>
}

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 relative">
  @for (announcement of announcementList; track announcement.id) {
    <app-announcement-card [announcement]="announcement"></app-announcement-card>
  }

  @if (isInitializeLoading) {
    <div class="flex items-center justify-center h-100 w-full absolute top-0">
      <mat-spinner class="m-auto"></mat-spinner>
    </div>
  }
</div>

<app-fab-button
  icon="add"
  [tooltip]="'actions.addGame' | translate"
  (click)="openCreateDialog()"
  class="fixed bottom-10 right-10"
></app-fab-button>
