<mat-form-field appearance="outline" class="w-full">
  <mat-label class="capitalize-first">
    {{ label() | translate }}
  </mat-label>

  <mat-select
    [placeholder]="'placeholders.select' | translate"
    [multiple]="multiple()"
    [formControl]="control()"
  >
    @for (option of optionList(); track option.name) {
      <mat-option [value]="option.name">
        {{ option.label }}
      </mat-option>
    }

    @if (optionList().length === 0) {
      <mat-option disabled>
        {{ 'texts.noOptions' | translate }}
      </mat-option>
    }
  </mat-select>

  <mat-error>{{ getErrorMessage() }}</mat-error>
</mat-form-field>
