@use '@angular/material' as mat;
@use "@app/styles/theme-colors.scss" as my-theme;

@layer base, utilities, theme;
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
@import "tailwindcss/theme.css" layer(theme);

@font-face {
  font-family: 'Montserrat';
  src: url('@shared/assets/fonts/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('@shared/assets/fonts/Montserrat-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('@shared/assets/fonts/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('@shared/assets/fonts/Montserrat-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('@shared/assets/fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('@shared/assets/fonts/Montserrat-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('@shared/assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('@shared/assets/fonts/Montserrat-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('@shared/assets/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('@shared/assets/fonts/Montserrat-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('@shared/assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('@shared/assets/fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('@shared/assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('@shared/assets/fonts/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('@shared/assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('@shared/assets/fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('@shared/assets/fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('@shared/assets/fonts/Montserrat-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@layer base {
  h1 {
    font: var(--mat-sys-display-large);
  }

  h2 {
    font: var(--mat-sys-display-medium);
  }

  h3 {
    font: var(--mat-sys-display-small);
  }

  h4 {
    font: var(--mat-sys-headline-large);
  }

  h5 {
    font: var(--mat-sys-headline-medium);
  }

  h6 {
    font: var(--mat-sys-headline-small);
  }

  button {
    line-height: 1;
  }
}

html {
  $my-typography: mat.define-typography();

  @include mat.theme((color: (primary: my-theme.$primary-palette,
        secondary: my-theme.$secondary-palette,
        tertiary: my-theme.$tertiary-palette,
      ),
      typography: Montserrat,
      density: -2,
    ));

  @include mat.theme-overrides(());
  @include mat.typography-hierarchy($my-typography);
}

body {
  color-scheme: dark;
  background-color: var(--mat-sys-surface-container-lowest);
  color: var(--mat-sys-on-surface);


  .snack-bar__container_error .mdc-snackbar__surface {
    background-color: var(--mat-sys-error-container) !important;
    color: var(--mat-sys-on-error-container);
  }

  .snack-bar__container_success .mdc-snackbar__surface {
    background-color: var(--mat-sys-primary-container) !important;
    color: var(--mat-sys-on-primary-container);
  }
}

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}
