<button matIconButton [matMenuTriggerFor]="menu">
  @if (icon()) {
    <mat-icon *ngIf="icon()">{{ icon() }}</mat-icon>
  }
  {{ text() }}
</button>
<mat-menu #menu="matMenu">
  @for (option of optionList(); track $index) {
    <button
      mat-menu-item
      (click)="selectedOptionName.set(option.name)"
      [class.selected]="option.name === selectedOptionName()"
    >
      <mat-icon *ngIf="option.icon">{{ option.icon }}</mat-icon>
      <span>{{ option.label | translate }}</span>
    </button>
  }
</mat-menu>
